/** 
 * Author: Aaron Melocik, github.com/SterlingVix
 * Signed: 28 Nov 2015
 **/

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    overflow-y: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    overflow-y: inherit;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    padding-top: 0px;
}


/*50 + 20*/

.navbar {
    min-height: 50px;
    position: relative;
    top: 0px !important;
    margin-bottom: 0px;
}
/* Main app page */
.app-container {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 70px - 20px - 80px);
    max-height: 95% !important;
    border: ridge 4px darkgrey;
    border-radius: 9px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

/* About page */
#about-page {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 70px - 20px - 80px);
    max-height: 95% !important;
    border: ridge 4px darkgrey;
    border-radius: 9px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}
#about-page h1 {
    color: white;
}

/* Contact page */
#contact-page {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 70px - 20px - 80px);
    max-height: 95% !important;
    border: ridge 4px darkgrey;
    border-radius: 9px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

#contact-page h1 {
    color: white;
}

#background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    opacity: 1;
    overflow: hidden;
    position: relative;
    /* text-align: center; */
    transform-origin: center;
    vertical-align: middle;
    /* Animations for zooming and dragging. Change speeds here. */
    -webkit-transition: transform 150ms ease-out, opacity 222ms ease-in 150ms;
    -moz-transition: transform 150ms ease-out, opacity 222ms ease-in 150ms;
    -o-transition: transform 150ms ease-out, opacity 222ms ease-in 150ms;
    transition: transform 150ms ease-out, opacity 222ms ease-in 150ms;
}

#background-image.invisible {
    opacity: 0;
}

.footer {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 80px;
    bottom: 0;
    margin-top: 0px;
}

.booth {
    border: 1px solid black;
    border-radius: 2px;
    text-align: left;
    padding: 0;
    margin: 0;
    z-index: 2;
    position: absolute;
    display: block;
    font-size: inherit;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
}

.booth * {
    font-size: inherit;
    pointer-events: none;
    text-overflow: clip;
/*    color: #dddddd;*/
}

.booth > p.booth-number {
    text-align: center;
    padding: 0.25rem 0rem 0rem 0rem;
    margin: 0px auto;
}

.booth > h4.company-name {
    padding: 0.25rem;
    margin: 0px auto;
/*    text-overflow: ellipsis;*/
    overflow: hidden;
}

.booth-flag {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.25em;
    z-index: 9;
    font-size: 2em;
    color: #e74c3c;
}


/*
.booth[data-available="true"] {
    background-color: greenyellow;
}
.booth[data-available="false"] {
    background-color: palevioletred;
}
*/

/*
.popover > h3.popover-title[] {
    color: green;
}
*/
.company-logo {}

.company-information {}

.body-container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 0px!important;
    padding: 0px!important;
    top: 0!important;
}

.zoom-controls {
    z-index: 100;
    position: absolute;
    display: inline-block;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}

.zoom-controls span {
    display: block;
    width: 100%;
    height: 50%;
    z-index: 101;
    font-size: 24px;
    line-height: 1.4;
    border-color: darkgrey;
    border-width: 4px 4px;
    border-style: outset;
    cursor: pointer;
}

.zoom-controls span:active {
    border-style: inset;
    border-width: 2px 2px;
}

.zoom-controls span:nth-child(2) {
    /*    border-top-width: 0px;*/
    line-height: 1.4;
}

.no-text-selection {
    /* webkit (safari, chrome) browsers */
    -webkit-user-select: none;
    /* mozilla browsers */
    -moz-user-select: none;
    /* webkit (konqueror) browsers */
    -khtml-user-select: none;
    /* IE10+ */
    -ms-user-select: none;
}

a.navbar-brand {
    min-width: 150px;
    color: #5c5c5c!important;
}

a.navbar-brand:focus {
    color: #5c5c5c!important;
}






.navbar-button a:hover {
    color: #2c3e50!important;
    cursor: pointer;
/*    background-color: rgba(0, 0, 0, 0.5)!important;*/
}

.navbar-button.active a:hover {
    cursor: pointer;
    color: #fff!important;
/*    background-color: #000!important;*/
}

#navbar-button-product-list a {}

#navbar-button-product-list {}

#navbar-button-product-list.active {}

#navbar-button-product-list.active a {}

#navbar-button-exhibitor-list.active>a,
#navbar-button-product-list.active>a {
    background-image: inherit;
    color: inherit;
}


/**
 * Modal Styling in addition to Bootstrap's styling
 **/

@media (min-width: 768px) {
    .modal-dialog {
        min-width: 66%;
        max-height: calc(98% - 60px);
        margin: 4em auto;
    }
}

.modal-dialog .modal-content {
    /*
    height: calc(96% - 60px);
    min-height: calc(80% - 60px);
*/
}

.modal-dialog .modal-content .modal-header {
    /*    height: 6em;*/
}

.modal-dialog .modal-content .modal-header button.close {}

.modal-dialog .modal-content .modal-header h4.modal-title {
    font-size: 2em;
    /*    z-index: 10;*/
}


/**
 * Exhibitors List panel
 **/

/* Exhibitor list container (as a Bootstrap panel) */
#exhibitor-list-container {
    z-index: 10;
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-right: double 2px darkgrey;
/*    min-width: 10%;*/
    max-width: 44%;
    transform: translateX(0%);
    /* Animations for sliding drawer out. */
    -webkit-transition: transform 200ms ease-out;
    -moz-transition: transform 200ms ease-out;
    -o-transition: transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

#exhibitor-list-container.closed {
    transform: translateX(-100%);
    /* Animations for sliding drawer out. */
    -webkit-transition: transform 200ms ease-out;
    -moz-transition: transform 200ms ease-out;
    -o-transition: transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

#exhibitor-list-container .panel-heading {
/*    padding: 1.2em;*/
    text-align: left;
    color: white;
}

.panel-heading .panel-heading-item {
    display: inline-block;
    padding: 0px!important;
    margin: 0px!important;
    width: 49%;
    overflow: hidden;
}
.panel-heading .panel-heading-item h3 {
    line-height: 2em;
    font-size: 1.2em;
}

#exhibitor-clear-all {
    margin: 0em 1em 0em 1.6em;
}


#exhibitor-list-main-list {
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
}


.exhibitor-li {
    width: 100%;
    display: inline;
    display: block;
    margin: 0.25em auto;
    min-width: 28ex;
}

.exhibitor-li[data-color-palette="color2"]:hover {
    color: #e8e8e8;
}

.exhibitor-li.longest-name {
    /* OBSOLETE */
}



/**
 * Product filter drawer styles
 **/
/* Product filter list container (as a Bootstrap panel) */
#product-list-container {
    z-index: 10;
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-right: double 2px darkgrey;
    /* min-width: 10%;*/
    max-width: 44%;
    transform: translateX(0%);
    /* Animations for sliding drawer out. */
    -webkit-transition: transform 200ms ease-out;
    -moz-transition: transform 200ms ease-out;
    -o-transition: transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

#product-list-container.closed {
    transform: translateX(-100%);
    /* Animations for sliding drawer out. */
    -webkit-transition: transform 200ms ease-out;
    -moz-transition: transform 200ms ease-out;
    -o-transition: transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

#product-list-container .panel-heading {
    /* padding: 1.2em;*/
    text-align: left;
    color: white;
}

.panel-heading .panel-heading-item {
    display: inline-block;
    padding: 0px!important;
    margin: 0px!important;
    width: 49%;
    overflow: hidden;
}

.panel-heading .panel-heading-item h3 {
    line-height: 2em;
    font-size: 1.2em;
}

#product-clear-all {
    margin: 0em 1em 0em 1.6em;
}

#product-list-main-list {
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
}

.product-li {
    width: 100%;
    display: inline;
    display: block;
    min-width: 28ex;
    margin: 0.25em auto;
}

.product-li[data-color-palette="color2"]:hover {
    color: #e8e8e8;
}

.product-li.longest-name {
    /* OBSOLETE */
}

.filtered {
    opacity: 0.4;
}
.filtered * {
    opacity: 0.66;
}

.filtered.unfiltered {
    opacity: 1!important;
}

.filtered.unfiltered * {
    opacity: 1!important;
}

/**
* Booth highlighting styles
**/
.booth.highlighted {
    -webkit-box-shadow: 0px 0px 5px 4px #e74c3c;
       -moz-box-shadow: 0px 0px 5px 4px #e74c3c;
            box-shadow: 0px 0px 5px 4px #e74c3c; 
}

/*
li.product-li[data-highlighted="true"] {
    background-color: yellow;
}
*/

li.product-li[data-highlighted="false"] {
}


/**
 * Set default body size. Assume the following:
 *   modal padding = 4em (2em + 2em)
 *   modal header = 3em (71px to 90px)
 *   modalFooter = 2em (60px)
 **/

.modal-dialog .modal-content .modal-body {
    height: calc(75% - 4em - 3em - 2em);
    min-height: calc(66% - 4em - 3em - 2em);
    max-height: calc(85% - 4em - 3em - 2em);
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog .modal-content .modal-body div.modal-image-container {
    position: relative;
    float: right;
    top: 0;
    right: 0;
    display: inline-block;
    height: 5.9em;
    min-width: 40%;
    width: 50%;
    max-width: 60%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    z-index: 1;
}

.modal-dialog .modal-content .modal-body div.modal-image-container image.company-logo {
    /*
    height: auto;
    width: 100%;
    margin: 0 auto;
*/
}

.modal-dialog .modal-content .modal-body p.company-personell {
    width: 50%;
}

.modal-dialog .modal-content .modal-body p.company-personell span.exhibitors {}

.modal-dialog .modal-content .modal-body p.company-information {}

.modal-dialog .modal-content .modal-body iframe.booth-iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.modal-dialog .modal-content .modal-footer {}

.modal-dialog .modal-content .modal-footer .btn-flag {
}

.modal-dialog .modal-content .modal-footer .btn-flag[data-color-palette="color5"] {
    border: solid 1px #c1c1c1;
    color: white;
}

.modal-dialog .modal-content .modal-footer .btn-flag[data-color-palette="color5"]:hover {
    color: #e8e8e8;
    border-color: #959595;
}

.modal-dialog .modal-content .modal-footer button.btn span.glyphicon {}

.tooltip.top {
    transform: unset!important;
}